<div class="footer-container">
	Proudly published with Hexo<br>
    Theme <a href="" target="_blank">Orange.</a> <br>
    &copy; <%= new Date().getFullYear() %> <a href="<%= config.url %>"><%= config.title %></a>
</div>